<form action='/movies/{{id}}' method='post'>
  <div>
   <label for='name' class='form-item'>
    Name:
    <input class="comments" type='text' name='name' placeholder='Your name' value='' />
    </br>
   <label for='comment' class='form-item'>
    Comment:
    <input class="comments" type='text' name='comment' placeholder='Your comment' value='' />
  </div>
  <input type='submit' value='Submit' />
</form>