
<form class="form" action="/movies/{{id}}/edit" method="post">
  <img class="img-circle" src="" alt="{{title}}}">
  <label for="owner" class="form-item">
    Rating:
    <input type="text" name="rating" value="{{ratings}}">
  </label>
  
  {{!-- <input type="hidden" name="image" value="{{image}}"> --}}
  
  <input type="submit" name="" value="Submit">
</form>