body {
  background-color: #6a696d;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 600px 600px;
  text-align: center;
  /* margin: 0 auto; */
  /* width: 40%; */
  grid-gap: 16px;
  justify-content: center;
}

.movies-list {
  margin: 0 auto;

  align-items: center;
  align-items: center;
  justify-content: center;
}

.app {
  display: grid;
  /* width: 50%; */

}


.movie {

  width: 100%;

  justify-content: center;
}

.img-square {
  margin: 0 auto;
  border-width: 100%;
  object-fit: cover;
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.title {
  text-align: center;
font-size: 500%;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}