body {
  background-color: #858486;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 600px 600px;
  /* grid-column-gap: 10px;  */
  text-align: center;
  grid-gap: 10px;
  justify-content: center;
  gap: 100px 20px;
  grid-auto-columns: 100px;

}

.movies-list {
  margin: 0 auto;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.app {
  display: grid;
  /* width: 50%; */
}

.movie {
  width: 100%;
  justify-content: center;
}

.img-square {
  margin: 0 auto;
  border-width: 100%;
  object-fit: cover;
  line-height: 0%;
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title {
text-align: center;
font-size: 500%;
}

.nav {
  text-align: center;
  color: black;
}

.form {
display: grid;
align-items: center;
font-family: 'Courier New', Courier, monospace;
font-size: larger;
text-align: center;
}
